body {
    background-color: lightblue;
    position: relative;
}

.button {
    width: 28px;
    height: 28px;
}

.table {
    position: relative;
}

.button_pencil {
    background: url(img/pen.png);
}

.button_eraser {
    background: url(img/erase.png);
}

.button_clear {
    background: url(img/clear.png);
}

.button_download {
    background: url(img/download.png);
}

.button_undo {
    background: url(img/undo.png);
}

.button_redo {
    background: url(img/redo.png);
}

.button_text {
    background: url(img/text.png);
}

.button_upload {
    background: url(img/upload.png);
}

.button_rect {
    background: url(img/rectangle.png);
}

.button_trgl {
    background: url(img/trangle.png);
}

.button_circle {
    background: url(img/circle.png);
}

.button_picker {
    background: url(img/dropper.png);
}

.button_line {
    background: url(img/line.png);
}

.button_rainbow {
    background: url(img/rainbow.png);
}

.slidercontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    position: relative;
    width: 400px;
    height: 25px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: black;
    cursor: pointer;
}

.Palette {
    position: relative;
    top: 0px;
    left: 0px;
}

.input_text {
    position: absolute;
    padding: 12px 20px;
    top: 100px;
    left: 100px;
    display: none;
}

.selector {
    position: relative;
}

.mycanvas {
    position: absolute;
    border: 1px solid black;
    cursor: default;
    left: 0px;
    top: 0px;
}

.canvas_wrapper {
    position: relative;
}